<ion-header>
    <ion-navbar>
        <ion-title>Großstadtjungle</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngIf="!answered">
        <div padding-horizontal>
            <h2>Frage - {{ question.place }}</h2>
            <p>{{ question.intro }}</p>
            <p>{{ question.question }}</p>
        </div>    

        <div *ngIf="errorMessage != ''" padding-horizontal ion-text color="danger">{{ errorMessage }}</div>
        
        <ion-list inset>
            <ion-item>
                <ion-input type="text" placeholder="Antwort" [(ngModel)]="answer" name="answer"></ion-input>
            </ion-item>
        </ion-list>

        <div padding-horizontal>
            <button *ngIf="attempts > 2" ion-button icon-left (click)="showHint()"><ion-icon name="help-circle"></ion-icon> Tipp erhalten</button>
            <button ion-button icon-right (click)="checkAnswer()">Weiter <ion-icon name="arrow-forward"></ion-icon></button>
        </div>
    </div>
    
    <div *ngIf="answered">
        <div padding-horizontal>
            <h2>Trivia</h2>
            <p>{{ question.trivia }}</p>
            <div>
                <button ion-button icon-left (click)="backToMap()"><ion-icon name="map"></ion-icon> Zurück zur Map</button>
            </div>
        </div>
    </div>
</ion-content>